.row{
    position: relative;
    /* width: 100%; */
}

.col-12{
    /* width: 100%; */
}

ul li{
    display: inline-block;
}

li{
    
}

.headimg {
    width: 300px;
    height: 150px;
    border-radius: 100px;
    display: flex;
}

.col-6-sm{
    align-content: center;
}